.btn_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.submit_btn,
.save_btn {
  color: black;
  font-size: 1.3rem;
  padding: 10px;
  border-radius: 20px;
  border: none;
  box-shadow: -1px 3px 3px lightgray, 1px 0 3px lightgray;
}

.not_sent {
  background-color: rgb(209, 195, 68);
}
.sent {
  background-color: rgb(230, 94, 53);
}

.save_btn {
  background-color: rgb(100, 99, 99);
}
