* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(85, 85, 85);
  width: 100vw;
  display: grid;
  justify-content: center;
}

input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  outline: none;
}

.inputField {
  padding-left: 5px;
  border-radius: 5px;
  border: 2px solid lightgray;
  height: 40px;
  font-size: 1rem;
  min-width: 160px;
}

.inputField::placeholder {
  color: lightgray;
}

.inputField:focus {
  border-color: rgb(56, 115, 151);
}
